@model IEnumerable<VideoGames.Models.Hardware>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm", @style = "color:white" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HardwareType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HardwareType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HardwareID }, new { @class = "btn btn-success", @style = "color:white" }) |
            @Html.ActionLink("Details", "Details", new { id=item.HardwareID }, new { @class = "btn btn-default", @style = "color:white" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HardwareID }, new { @class = "btn btn-danger", @style = "color:white" })
        </td>
    </tr>
}

</table>
